/* css cho các alert ví dụ: xác nhận khi xóa dữ liệu */
.alert-delete {
  display: none;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}
.alert-header {
  justify-content: space-between;
}
.m-alert {
  padding: 16px;
  left: calc((100vw - 500px) / 2);
  top: 250px;
  position: absolute;
  width: 500px;
  border-radius: 5px;
  background-color: white;
}
.btn-cancle-alert {
  cursor: pointer;
}
