input {
    height: 40px;
    font-size: 11px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    padding-left: 16px;
    border-radius: 4px;
    outline: none;
}   
input:focus{
    border-color:#01b075;
}