/* css cho phần form hiển thị thêm, sửa dữ liệu */

.short-infor,
.general-up {
  display: flex;
}
.general-infor,
.job-infor {
  width: 100%;
}
.general-up .infor > *,
.job-infor .infor > * {
  padding-top: 10px;
}
.general-up .infor {
  width: calc(100% - 270px);
}
.general-up label,
.job-infor label {
  display: inline-block;
  width: 150px;
}
.general-up input {
  width: calc(100% - 200px);
}
.general-up .images {
  background-image: url("/assets/img/avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
}

.general-down {
  padding-top: 5px;
  padding-bottom: 5px;
}
.general-down label {
  display: inline-block;
  width: 150px;
}
.general-down input {
  width: calc(100% - 200px);
}

.job-infor select {
  width: calc(100% - 180px);
}

.short-infor > :nth-child(1) {
  width: 400px;
  float: left;
  margin-right: 28px;
}
.diaglog-title {
  font-size: 35px;
  color: white;
  align-items: center;
  height: 40px;
  width: calc(100% + 5px);
  display: inline-block;
  background-color: #019160;
  border: 0;
  padding: 0;
  outline: none;
}

.diaglog-title .icon {
  background-image: url("/assets/img/exit.png");
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.infor .title {
  font-family: GoogleSans-Bold;
  border-bottom: 1px solid #bbbbbb;
}

.m-btn {
  background-color: #019160;
}
.m-btn > :nth-child(1) {
  padding-right: 8px;
}

.bottom-bar {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.bottom-bar .right {
  padding-right: 25px;
  display: flex;
}
.bottom-bar .right > * {
  margin-left: 10px;
}

.red-border {
  border-color: red;
}

.dialog-header {
  justify-content: space-between;
}
.dialog-footer {
  background-color: #e6e6e6;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.m-dialog {
  position: absolute;
  width: 800px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}
.btn-cancle-dialog {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/cancel.png");
}
.m-avatar {
  background-image: url(/assets/img/user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}
.dialog-content {
  padding: 10px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn-footer {
  padding-right: 10px;
  float: right;
  height: 100%;
}
.btn-footer button {
  display: block;
  margin: auto;

  margin-right: 10px;
}
.m-control input {
  width: calc(100% - 32px);
}
select.m-control {
  width: calc(100% - 16px);
}
#btnSave {
  display: flex;
  align-items: center;
}
#btnSave .m-btn-icon {
  background-repeat: no-repeat;
}
.border-red {
  border-color: red;
}
input {
  color: black;
}
